---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import RecipeFooter from "../components/RecipeFooter.astro";
import RecipeHeader from "../components/RecipeHeader.astro";

type Props = CollectionEntry<"recipe">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const background = heroImage ? `url('${heroImage}')` : "none";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style define:vars={{ background }}>
      .hero-image {
        width: 100%;

        background-image: var(--background);

        /* Full height */
        height: 100%;

        /* A4 max heigh */
        max-height: 842px;

        /* Center and scale the image nicely */
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

    <style>
      main {
        max-width: 100%;
        margin: 0 auto;
        padding: 2em 0em;
      }
      article {
        display: flex;
        align-items: stretch;
        margin: auto;
      }

      .left {
        width: 50%;
      }

      .right {
        width: 50%;
      }

      .hero-image {
        width: 100%;
      }

      .hero-image img {
        display: block;
        margin: 0 auto;
        max-width: unset;
      }

      .prose {
        padding: 0;
        padding-right: 1em;
        max-width: 100%;
        margin: 0 auto;
      }

      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <RecipeHeader title={title} />
    <main>
      <article>
        <div class="left">
          <div class="prose">
            <slot />
          </div>
        </div>

        <div class="right">
          <div class="hero-image">
            {
              heroImage && (
                // <img width={1020} height={510} src={heroImage} alt="" />
                <div class="hero-image-bg" />
              )
            }
          </div>
        </div>
      </article>
    </main>
    <RecipeFooter />
  </body>
</html>
